div {
  text-align: center;
  min-height: 60vh;
  background: rgb(87, 193, 228);  
}

button{
  padding: 5px;
}

.app {
  text-align: center;
  min-height: 100vh;
  background: rgb(87, 193, 228);
  display: flex;
  justify-content: space-around;
  /* align-items: center;      /* delete this to remove space in middle */
}

.tweet{
    /* border: 2px solid black; */
    height: 300px;
    width: 250px;
    background: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

